<section class="bio">
  <div class="row justify-content-between">
    <div class="bio-info col-12 col-lg-6">
      <p>Oi! Me chamo</p>
      <h1 class="text-blue">Sthéfano Garcia Pícoli</h1>
      <h4 class="mt-4">Eu desenvolvo coisas para a web.</h4>

      <p class="mt-4">
        Sou um desenvolvedor de software com experiência na construção de
        aplicações web focadas na escalabilidade e experiência do usuário.
      </p>

      <a href="" class="btn btn-blue p-3 mt-3">Currículo</a>
    </div>

    <div
      class="bio-photo d-flex justify-content-center justify-content-lg-end col-12 col-lg-6"
    >
      <div class="image restrict-width">
        <img src="../../../assets/images/me.png" alt="" />
      </div>
    </div>
  </div>
</section>
