<section class="bio">
  <div class="row justify-content-between w-100">
    <div
      class="bio-info d-flex flex-column justify-content-center col-12 col-lg-6"
    >
      <p>{{ "hero.greetings" | translate }}</p>
      <h1 class="text-blue">{{ "hero.name" | translate }}</h1>
      <h4 class="mt-2 mb-4">{{ "hero.subtitle" | translate }}</h4>

      <p class="text-light">
        {{ "hero.first_paragraph" | translate }}
      </p>

      <app-resume-button
        class="only-desktop"
        cssClass="p-3 mt-4"
      ></app-resume-button>
    </div>

    <div
      class="bio-photo d-flex flex-column align-items-center align-items-lg-end justify-content-center justify-content-lg-end col-12 col-lg-6"
    >
      <div class="image restrict-width">
        <img src="assets/images/me.png" alt="SGP.Dev" />
      </div>
      <app-resume-button
        class="only-md w-100"
        cssClass="p-3 mt-5"
        [mobileFullWidth]="true"
      ></app-resume-button>
    </div>
  </div>
</section>
