@use "../../../assets/css/variables" as v;

.bio {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 0;

  &-photo {
    img {
      border: 2px solid var(--color-text-light);
      border-radius: 50%;
      object-fit: fill;
    }
  }
}

@media only screen and (max-width: v.$desktop-md) {
  .bio {
    &-info {
      margin-bottom: 2rem;
    }
  }
}

@media only screen and (max-width: v.$mobile) {
  app-resume-button {
    align-self: center;
    width: 80%;
  }
}
