<footer>
  <div class="social only-mobile">
    <div>
      <ul class="p-0">
        <li>
          <a href="https://github.com/steuf0" target="_blank"
            ><i-feather name="github"></i-feather
          ></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sthefanogarcia/" target="_blank"
            ><i-feather name="linkedin"></i-feather
          ></a>
        </li>
        <li>
          <a href="mailto:sthefanog@gmail.com"
            ><i-feather name="mail"></i-feather
          ></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="info">
    <a href="https://github.com/steuf0/spg-dev" target="_blank">
      {{ "footer.text" | translate }}</a
    >
  </div>
</footer>
