<!-- <header class="nav-header fixed-top">
  <nav class="nav-nav">
    <div class="logo">
      <a href="#"><img src="../../../assets/images/logo3.png" /></a>
    </div>
    <div class="anchors">
      <ol>
        <li><a href="#about">Sobre</a></li>
        <li><a href="#projects">Projetos</a></li>
        <li><a href="#work">Experiência</a></li>
        <li><a href="#contact">Contato</a></li>
      </ol>
      <app-resume-button></app-resume-button>
    </div>
  </nav>
</header> -->
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <div class="container">
      <a class="navbar-brand" href="#"
        ><img src="assets/images/logo3.png" alt="SGP"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i-feather name="menu"></i-feather>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li
            class="nav-item"
            *ngFor="let anchor of 'header_anchors' | translate"
          >
            <a class="nav-link" aria-current="page" [href]="anchor.ref">{{
              anchor.name
            }}</a>
          </li>
          <li class="nav-item dropdown no-before py-1 only-mobile">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ "language_switch" | translate }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let lang of env.available_languages">
                <a
                  class="dropdown-item"
                  (click)="setLanguage(lang.acro)"
                  [class.selected]="lang.acro === currentLanguage"
                >
                  <span>{{ lang.image }} {{ lang.name }}</span></a
                >
              </li>
            </ul>
          </li>
          <li class="resume align-self-end align-self-md-start">
            <app-resume-button></app-resume-button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
