$main-padding: 1.5rem;

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: var(--color-text);
}

#main {
  padding: $main-padding;
  background-color: var(--color-background);
  min-height: 100vh;
  width: 100%;
}

section {
  padding: 100px 0;
}
