@use "../css/variables" as v;

header {
  backdrop-filter: blur(10px);
  filter: none !important;
}

.navbar {
  padding: 0;
  ul {
    li {
      counter-increment: item 1;
      background-color: var(--color-bg);
      margin: 0 5px;
      border-radius: 0.25rem;

      &.no-before {
        a::before {
          display: none !important;
        }
      }

      a {
        color: var(--color-text);

        &::before {
          content: "0" counter(item) ".";
          margin-right: 5px;
          color: var(--color-blue);
          font-size: var(--fz-xxs);
          text-align: right;
        }

        &:hover {
          color: var(--color-blue);
        }
      }
    }
    .dropdown-menu.show {
      background-color: var(--color-bg-light);
      border-color: var(--color-blue-light2);

      li {
        padding: 0;
      }

      a {
        &.selected {
          span {
            color: var(--color-blue-light);
          }
        }

        &::before {
          display: none;
        }
      }
    }
  }

  &-toggler {
    border-color: var(--color-blue);

    &-icon {
      background-image: none;
    }
  }

  &-collapse {
    &.collapsing,
    &.show {
      background-color: var(--color-bg-light);
      border-radius: 0.5rem;
      padding: 1rem;
    }
  }

  i-feather {
    stroke: var(--color-blue);
  }
}

ul.dropdown-menu.show {
  background-color: transparent;
  width: fit-content;

  li {
    a span {
      display: block;
    }

    &:not(:last-child) {
      padding-bottom: 0.25rem;
      a span {
        border-bottom: 1px solid var(--color-blue-light2);
        padding-bottom: 0.75rem;
      }
    }
  }
}

@media only screen and (max-width: v.$desktop-md) {
  .navbar {
    ul {
      li {
        padding: 0.5rem;
        font-size: 1.25rem;
        background-color: transparent;

        a {
          &::before {
            font-size: var(--fz-md);
          }
        }
      }

      .resume {
        margin-top: 1rem;
      }
    }
  }
}
