:root {
  //region colors
  --color-background: #12130f;
  --color-text: #e1ccb1;
  --color-blue: #06acd3;
  --color-orange: #dc5318;

  //region sizes
  --nav-height: 100px;

  //region breakpoints
  --mobile: "max-width: 768px";
}
