<div class="wrapper row">
  <div class="col-12">
    <div class="work-info row">
      <div class="work-buttons" role="tablist">
        <button
          tpye="button"
          *ngFor="let company of env.work_history; let i = index"
          id="tab-{{ i }}"
          role="tab"
          [tabindex]="i"
          [class.active]="currentTab === i"
          (click)="changeTab(i)"
        >
          {{ company.company }}
        </button>
      </div>

      <div class="work-details">
        <div *ngFor="let company of env.work_history; let i = index">
          <div *ngIf="currentTab === i">
            <div class="work-role">
              <h3>
                {{ company.role }}
                <span>
                  @
                  <a [href]="company.link" class="underline"
                    >{{ company.company }}
                  </a></span
                >
              </h3>
              <p class="text-light">
                {{ company.period }}
                <span class="work-time">({{ company.total_time }})</span>
              </p>
            </div>
            <ul>
              <li
                *ngFor="let detail of company.details | keyvalue"
                class="text-light"
                [innerHtml]="detail.value"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <p class="mt-4 text-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p> -->
  </div>
  <!-- <div class="col-12 col-md-6">
    <div class="image text-end restrict-width">
      <img src="../../../assets/images/computer.svg" alt="" /> 
    </div>
  </div> -->
</div>
