<div class="wrapper row mt-4">
  <div class="col-12">
    <div class="work-info row">
      <div class="work-buttons" role="tablist">
        <button
          tpye="button"
          *ngFor="let company of env.work_history; let i = index"
          id="tab-{{ i }}"
          role="tab"
          [tabindex]="i"
          [class.active]="currentTab === i"
          (click)="changeTab(i)"
        >
          {{ company.company }}
        </button>
      </div>

      <div class="work-details">
        <div *ngFor="let company of env.work_history; let i = index">
          <div *ngIf="currentTab === i">
            <div class="work-role">
              <h3>
                {{ company.role }}
                <span>
                  @
                  <a [href]="company.link" class="underline"
                    >{{ company.company }}
                  </a></span
                >
              </h3>
              <p class="text-light">
                {{ company.period }}
                <span class="work-time">({{ company.total_time }})</span>
              </p>
            </div>
            <ul>
              <li
                *ngFor="let detail of company.details | keyvalue"
                class="text-light"
                [innerHtml]="detail.value"
              ></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
