@use "../../../assets/css/variables" as v;

.wrapper {
  min-height: 700px;
  .active {
    background-color: var(--color-blue-light3);
    color: var(--color-blue);
    border-color: var(--color-blue-light);
  }

  button {
    text-decoration: none;
    background-color: transparent;
    padding: 0.75rem 1rem 0.5rem;
    border: none;
    border-left: 2px solid;
    text-align: left;
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  ul {
    position: relative;

    li {
      font-weight: 500;
      &::before {
        content: "▹";
        position: absolute;
        left: 0px;
        color: var(--color-blue);
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  .work-buttons {
    width: 16.66666667%;
    button {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .work-details {
    width: 83.33333333%;

    .work-role {
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
      span {
        color: var(--color-blue);
      }
    }
    .work-time {
      font-size: 0.875rem;
      color: var(--color-text-light) !important;
    }
  }
}

@media only screen and (max-width: v.$desktop-xl) {
  .wrapper {
    .active {
      border-bottom: 2px solid var(--color-blue-light) !important;
    }

    .work-buttons {
      width: 100% !important;
      margin-bottom: 0.5rem;
      display: flex;
      overflow-x: auto;
      padding-bottom: 1rem;

      button {
        border-left: none;
        border-bottom: 2px solid var(--color-blue-light3);
      }
    }

    .work-details {
      width: 100% !important;
    }
  }
}

@media only screen and (max-width: v.$mobile) {
  .wrapper {
    .work-details {
      .work-role {
        h3,
        span {
          font-size: 1.25rem;
        }
      }
    }
  }
}
