<app-header></app-header>
<div class="side-div right only-lg">
  <div class="side-content">
    <a class="lang text-center">
      <img
        [src]="
          language === 'PT'
            ? '../assets/images/br-flag.png'
            : '../assets/images/uk-flag.png'
        "
        alt=""
      />
      {{ language }}
    </a>
  </div>
</div>

<div class="side-div left only-lg">
  <div class="side-content">
    <ul class="d-flex flex-column">
      <li>
        <a [href]="env.links.github" target="_blank"
          ><i-feather name="github"></i-feather
        ></a>
      </li>
      <li>
        <a [href]="env.links.linkedin" target="_blank"
          ><i-feather name="linkedin"></i-feather
        ></a>
      </li>
      <li>
        <a href="mailto:{{ env.email }}"><i-feather name="mail"></i-feather></a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
