<app-header></app-header>

<div class="side-div left only-lg">
  <div class="side-content">
    <ul class="d-flex flex-column">
      <li *ngFor="let icon of icons">
        <a [href]="icon.link" [target]="!icon.isEmail ? '_blank' : '_self'"
          ><i-feather [name]="icon.name"></i-feather
        ></a>
      </li>
    </ul>
  </div>
</div>

<!-- <div class="side-div right only-lg">
  <div class="side-content">
    <div class="dropdown">
      <a
        class="btn btn-blue dropdown-toggle"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >{{ language }}</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" *ngFor="let lang of env.available_languages">{{
          lang.name
        }}</a>
      </div>
    </div>
    <a class="lang text-center">
      <img
        [src]="
          language === 'PT'
            ? '../assets/images/br-flag.png'
            : '../assets/images/uk-flag.png'
        "
        alt=""
      />
      {{ language }}
    </a>
  </div>
</div> -->
<router-outlet></router-outlet>

<app-footer></app-footer>
