<app-header></app-header>

<div class="side-div left">
  <div class="side-content">
    <ul class="d-flex flex-column">
      <li *ngFor="let icon of icons">
        <a [href]="icon.link" [target]="!icon.isEmail ? '_blank' : '_self'"
          ><i-feather [name]="icon.name"></i-feather
        ></a>
      </li>
    </ul>
  </div>
</div>

<div class="side-div right">
  <div class="side-content">
    <div class="dropdown">
      <a
        class="btn btn-blue dropdown-toggle"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >{{ currentLanguage.toUpperCase() }}</a
      >
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a
          class="dropdown-item"
          *ngFor="let lang of env.available_languages"
          (click)="setLanguage(lang.acro)"
          >{{ lang.image }} {{ lang.name }}</a
        >
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

<app-footer></app-footer>
