<div id="main">
  <main class="content container">
    <section class="bio">
      <p>Oi, me chamo</p>
      <h1>Sthéfano Garcia Pícoli</h1>
      <h2 class="mt-4">Eu desenvolvo coisas pra web.</h2>

      <p class="mt-5">
        Sou um desenvolvedor de software com experiência na construção de
        aplicações web focadas na escalabilidade e experiência do usuário.
      </p>
    </section>

    <section class="about" id="about">
      <h2 class="numbered-title">Sobre mim</h2>
      <p class="mt-5">
        Sou um desenvolvedor de software com experiência na construção de
        aplicações web focadas na escalabilidade e experiência do usuário.
      </p>
    </section>
  </main>
</div>
