@use "../../../assets/css/variables" as v;

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: v.$desktop-xxl) {
  .content {
    padding: 0 2.5rem;
  }
}

@media only screen and (max-width: var(--mobile)) {
  .numbered-title {
    &::after {
      width: 100%;
    }
  }
}
